* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}
.slide img{   
max-width: 100%; 
max-height: 100rem;
height: auto;
border: 0.2rem solid white;
border-radius: 2rem;
}
.slide{
opacity: 0;
max-height: 0; 
text-align: center;
overflow: hidden;
transition: opacity 0.4s ease, max-height 0.5s ease;
order: 1;
width:100%;
}

.slider{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black; 
}


.control-input{
opacity: 0; 
width: 0; 
height: 0; 
overflow: hidden; 
position: static;

}

.controls{
display: flex;
justify-content: center;
gap: 0.5rem;
order: 2;


}
.control-label{
display: flex;
color: transparent;
width: 2rem;
height: 2rem;
background-color: blue;
border: 0.2rem solid blue;
border-radius: 50%;
cursor: pointer;
padding: 0.5rem;
transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;
}
.control-label:hover{
   border: 0.2rem solid azure;
   background-color:azure;
}

.control-label:active{
transform: scale(1.1);
border: 0.2rem solid azure;

}
figcaption {
     color:aliceblue ;
     margin-top: 1rem; 
     font-size: 1rem; 
     text-align: center; }

#slide-1:checked~.controls .control-label[for="slide-1"] {
    background-color: transparent;
}
#slide-2:checked~.controls .control-label[for="slide-2"] {
background-color: transparent;
}
#slide-3:checked~.controls .control-label[for="slide-3"] {
background-color: transparent;
}
#slide-4:checked~.controls .control-label[for="slide-4"] {
background-color: transparent;
}
#slide-1:checked ~ .slide-1 { opacity: 1; max-height: 70rem; }
#slide-2:checked ~ .slide-2 { opacity: 1; max-height: 70rem; }
#slide-3:checked ~ .slide-3 { opacity: 1; max-height: 70rem; }
#slide-4:checked ~ .slide-4 { opacity: 1; max-height: 90rem; }
